*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}
/*part1______________________________________________________________________________________________________________*/
body {
    overflow-x: hidden;
}
@media all and (max-width:991px) {
    .div-1{
        display: none;
    }
    .nav-part2-3-pass{
        display: none;
    }
    .nav-part2-3-zarebin{
        display: none;
    }
}
@media all and (min-width:990px) {
    .div-1{
        display: flex;
        flex-flow: row nowrap ;
        justify-content: center;
        background-color: black;
        width: 100%;
        height: 35px;
        transition: all 500ms linear 0s;
    }
    .div-1-hardo{
        color: white;
        width: 130px;
        height: 30px;
        padding-top: 5px;
    }
    .div-1-1{
        /*background-color: red;*/
        cursor: pointer;
    }
    .div-1-2{
        /*background-color: red;*/
        cursor: pointer;
        margin-left: 50px;
    }
    .icon-1-1{
        margin-left: 10px;
    }
    .icon-1-2{
        padding-right: 10px;
    }
}
.offcanvas-0{
    position: absolute;
    top:35px;
    left: -3000px;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    /*background-color: chocolate;*/
    transition: all 500ms linear 0s;
    z-index: 1;
}
.offcanvas-0-0{
    position: absolute;
    top:240px;
    left: -3000px;
    box-sizing: border-box;
    width: 100%;
    /*background-color: blueviolet;*/
    background-color: white;
    transition: all 500ms linear 0s;
    z-index: 1;
}
.offcanvas-1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 210px;
    transition: all 500ms linear 0s;
}
.close-1 {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 0;
    font-size: 24px;
    color: rgb(70, 70, 70);
    cursor: pointer;
}
.close-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 0;
    font-size: 28px;
    color: rgb(70, 70, 70);
    cursor: pointer;
}
.close-1:hover {
    color: rgb(0, 0, 0);
}
.close-2:hover {
    color: rgb(0, 0, 0);
}
.text-1 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 10px 10px;
    cursor: pointer;
}
.ul-1 {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 20px;
    cursor: pointer;
}
.li-1 {
    list-style-type: none;
    margin-left: 15px;
    margin-top: 8px;
    font-family: sans-serif;
    cursor: pointer;
}
.show-offcanvas-0{
    left: 0;
}
.show-offcanvas-0-0{
    left: 0;
}
/*part2______________________________________________________________________________________________________________*/
@media all and (max-width:991px) {
    .pic-part2{
        padding-top: 20px;
        padding-left: 20px;
        width: 120px;
    }
    .nav-part2{
        width: 100%;
        height: 50px;
        overflow: hidden;
    }
    .ul-part2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 350px;
        list-style-type: none;
        background-color: black;
        margin-top: 10px;
    }
    .li-part2 {
        height: 50px;
        color: black;

    }
    .li-part2:first-of-type {
        margin-top: 50px;
    }
    .a-part2 {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0 12px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        color: white;
        transition: all 300ms ease 0s;
    }
    .icon-part2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .line {
        width: 25px;
        height: 2px;
        border-radius: 10px;
        transition: all 300ms ease;
        background-color: black;
    }
    .line-1 {
        margin-top: 15px;
        transform-origin: right;
    }
    .line-3 {
        margin-bottom: 15px;
        transform-origin: right;
    }
    .hide-line-2 {
        transform: scaleX(0);
    }
    .change-line-1 {
        transform: rotateZ(-45deg);
    }
    .change-line-3 {
        transform: rotateZ(45deg);
    }
    .show-navigation-part2 {
        height: 30vh;
    }
}
@media all and (min-width:990px) {
    .pic-part2{
        margin-top: 25px;
        width: 140px;
        cursor: pointer;
    }
    .nav-part2-3{
        padding-top: 27px;
        font-size: 24px;
    }
    .zarebin-part2{
        cursor: pointer;
    }
    .nav-part2{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        height: 70px;
        /*background-color: greenyellow;*/
        transition: all 300ms ease 0s;
    }
    .ul-part2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        list-style-type: none;
    }
    .li-part2{
        height: 50px;
        margin-right: 24px;
    }
    .a-part2{
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        margin-top: 17px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 16px;
        color: black;
        transition: all 300ms ease 0s;
    }
    .a-part2:hover {
        color: grey;
    }
    .icon-part2{
        display: none;
    }
}
.curcorrrr{
    cursor: pointer;
}
.text-part2{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 40px;
}
.pic-part2-2{
    width: 170px;
    margin-bottom: 20px;
}
.show-Consumer-part2{
    background-color: aqua;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    display: none;
}
.show-Consumer-part2-1{
    padding-top: 10px;
    padding-left: 100px;
    background-color: white;
    width: 90%;
    height: 150px;
    display: flex;
    flex-direction: row;
}
.pic-part2-Business{
    display: block;
    width: 50%;
    align-content: center;
    margin-bottom: 20px;
    border: 3px solid red;
    border-radius: 2px;
    cursor: pointer;
}
.show-Business-part2{
    background-color: aqua;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    display: none;
}
.show-Business-part2-1{
    padding-top: 10px;
    background-color: white;
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-Support-part2{
    background-color: aqua;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    display: none;
}
.show-Support-part2-1{
    padding-top: 10px;
    padding-left: 100px;
    background-color: white;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pic-part2-Partner{
    display: block;
    width: 50%;
    margin-left: 75px;
    margin-bottom: 20px;
    border: 3px solid red;
    border-radius: 2px;
    cursor: pointer;
    filter: saturate(2%);
}
.text-partner{
    text-align: center;
}
.show-Partner-part2{
    background-color: aqua;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    display: none;
}
.show-Partner-part2-1{
    padding-top: 10px;
    background-color: white;
    width: 90%;
    height: 520px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.show-About-part2{
    background-color: aqua;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    display: none;
}
.show-About-part2-1{
    padding-top: 10px;
    padding-left: 100px;
    background-color: white;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.show-zarebin-part2{
    width: 100%;
    height: 400px;
    display: none;
}
.show-zarebin-part2-1{
    /*background-color: red;*/
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.password-container-zarebin {
    width: 400px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

input{
    width: 100%;
    padding: 0 5px;
    border-radius: 8px 0 0 8px;
}

.icon-zarebin {
    font-size: 24px;
    line-height: 40px;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

.hidden-zarebin {
    display: none;
}
.hidden-part2{
    display: none;
}
/*part3______________________________________________________________________________________________________________*/
.slider-show-3 {
    position: relative;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
}
.img-seri3 {
    display: block;
    width: 100%;
}
.icon-seri3 {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 48px;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    color: red;
    transition: all 400ms linear 0s;
}
.icon-1-seri3 {
    left: 0;
}
.icon-2-seri3 {
    right: 0;
}
/*part4______________________________________________________________________________________________________________*/
.matn-part4{
    font-family: sans-serif;
    font-size: 28px;
    color: #333333;
    text-align: center;
}
/*part5______________________________________________________________________________________________________________*/
/*piiiiiic*/
@media all and (max-width:991px) {
    .div-part5-0{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /*background-color: blueviolet;*/
        width: 100%;
        height: 1000px;
        margin-top: 20px;
        box-sizing: border-box;
        }
    .div-partha{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /*background-color: chartreuse;*/
        width: 100%;
        height: 300px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .pic-1-part5{
        width: 300px;
        background-image: url("../pictures/4.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        /*background-color: blue;*/
    }
    .pic-2-part5{
        width: 300px;
        background-image: url("../pictures/5.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        /*background-color: blue;*/
    }
    .pic-3-part5{
        width: 300px;
        background-image: url("../pictures/6.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        /*background-color: blue;*/
    }
    .pic-4-part5{
        width: 300px;
        background-image: url("../pictures/8.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        /*background-color: blue;*/
    }
    .pic-5-part5{
        width: 300px;
        background-image: url("../pictures/9.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        /*background-color: blue;*/
    }
    .pic-6-part5{
        width: 300px;
        background-image: url("../pictures/10.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        /*background-color: blue;*/
    }
}
@media all and (min-width:990px) {
    .div-part5-0{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        /*background-color: blueviolet;*/
        width: 100%;
        height: 300px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .div-partha{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        /*background-color: chartreuse;*/
        width: 100%;
        height: 300px;
        margin-top: 20px;
        box-sizing: border-box;
    }
    .pic-1-part5{
        width: 300px;
        background-image: url("../pictures/4.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        /*background-color: blue;*/
    }
    .pic-2-part5{
        width: 300px;
        background-image: url("../pictures/5.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        /*background-color: blue;*/
    }
    .pic-3-part5{
        width: 300px;
        background-image: url("../pictures/6.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        /*background-color: blue;*/
    }
    .pic-4-part5{
        width: 300px;
        background-image: url("../pictures/8.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        /*background-color: blue;*/
    }
    .pic-5-part5{
        width: 300px;
        background-image: url("../pictures/9.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        /*background-color: blue;*/
    }
    .pic-6-part5{
        width: 300px;
        background-image: url("../pictures/10.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        /*background-color: blue;*/
    }
}
/*part6______________________________________________________________________________________________________________*/
.pic-part6{
    width: 100%;
    margin-top: 50px;
}
/*part7______________________________________________________________________________________________________________*/
.matn-part7{
    font-family: sans-serif;
    font-size: 28px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
}
/*part8______________________________________________________________________________________________________________*/
.div-part8{
    background-color: blueviolet;
    width: 100%;
    height: 700px;
    margin-top: 20px;
}
/*part9______________________________________________________________________________________________________________*/
.div-part9{
    background-color: brown;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
/*part10______________________________________________________________________________________________________________*/
.div-part10{
    background-color: darkcyan;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}