.backimg{
    background-image: url(../pictures/1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 1500px;
}
.icon-flesh-right{
    font-size: 24px;
    margin-left: 10px;
    margin-top: 3px;
}
.icon-shop{
    cursor: pointer;
    font-size: calc(1.7vw + 1px) !important;
}
.but1hover:hover{
    background-color: #e9e9ed;
}
.tabhover:hover{
    background-color: black;
    color: white;
    transition: all 500ms ease 50ms;
}
.fontspan{
    color: aqua;
}
.fontbut{
    font-size: calc(1vw + 1px) !important;
}
.font-tma{
    font-size: calc(2vw + 2px) !important;
}
.fonttab{
    font-size: calc(1.4vw + 1px) !important;
}
@media all and (max-width:991px) {
    .backimg{
        filter: brightness(70%);
    }
    .font-color-white{
        color: white;
    }
}
.font-matn-tasvir{
    font-family: sans-serif;
}
.pt-autoo{
    padding-top: 500px;
}
.font-size-icon-box{
    font-size: 80px;
}
.text-color1{
    color: #410030;
    font-size: 45px;
}
.text-color2{
    color: #a8aa1f;
    font-size: 45px;
}
.text-color3{
    color: #1b1f52;
    font-size: 45px;
}
.font-kalamat-1{
    font-family: "Playwrite DE Grund", cursive;
    padding-top: 80px;
}
.font-kalamat-2{
    font-family: "Oswald", sans-serif;
}
.pt-2soton{
    padding-top: 200px;
}
.icon-facebook:hover{
    cursor: pointer;
    font-size: 27px;
    transition: font 300ms ease 0.1s;
}
.rang-bg{
    background-color: #f8450a;
}
.rang-bg-first{
    background-color: #f1ebe9;
}
.img-100{
    background-image: url(../pictures/2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 700px;
}
.font-size-7ta-1{
    font-family: "Edu AU VIC WA NT Dots", cursive;
}
.font-size-bala-rast{
    font-size: 12px;
}
.flsh-bala-rast:hover{
    cursor: pointer;
}
.font-blog{
    font-family: "Playwrite DE Grund", cursive;
}
.pic1-3taii{
    background-image: url(../pictures/3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 700px;
}
.pic2-3taii{
    background-image: url(../pictures/4.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 700px;
}
.pic3-3taii{
    background-image: url(../pictures/5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 700px;
}
.but-paiin-3taii{
    background-color: #202021;
}
.pic-matn-3taii-hover:hover{
    cursor: pointer;
}
.img-101{
    background-image: url(../pictures/6.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 800px;
}
.flsh-rast-2:hover{
    cursor: pointer;
}
.pic-keshoii{
    filter: brightness(50%);
}
.pic-keshoii2{
    font-size: calc(2vw + 1px) !important;
}
.pic-keshoii3{
    font-size: calc(3vw + 4px) !important;
}
.font-size-akhari{
    font-size: 50px;
}
.email-112{
    font-size: 12px;
}
.email-111{
    width: 190px;
    height: 30px;
}
.submitt{
    height: 30px;
    font-size: 10px;
    margin-bottom: 15px;
}
.rang-star{
    color: red;
}